In [22]:
import analyze
import mesh
from itertools import islice
from imp import reload
import pandas as pd

reload(mesh)

In [23]:
events = mesh.mesh_trace_event_stream(mesh.TRACE_ARCHIVE)
peers_table = pd.read_pickle('output/mesh-test/analysis/pandas/peers.gz')
meshes = mesh.mesh_events_to_pandas(events, peers_table)
meshes

                     n_mesh_honest  n_mesh_attacker  peer
timestamp
2020-04-27 22:24:00             10                0   947
2020-04-27 22:24:00              9                0    88
2020-04-27 22:24:00             12                0   222
2020-04-27 22:24:00              6                0   865
2020-04-27 22:24:05              6                0   865
...                            ...              ...   ...
2020-04-27 22:27:55              8                0   245
2020-04-27 22:28:00              8                0   245
2020-04-27 22:28:05              9                0   245
2020-04-27 22:24:00              9                0   131
2020-04-27 22:24:00             10                0   217

[20656 rows x 3 columns]

In [24]:
meshes.groupby('peer').min()

      n_mesh_honest  n_mesh_attacker
peer
1                 8                0
2                 6                0
3                 8                0
4                 9                0
5                 8                0
...             ...              ...
996               8                0
997              11                0
998               7                0
999               9                0
1000              6                0

[1000 rows x 2 columns]